.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

text {
  fill: white;
  font-size: 20;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.scale {
  x: -1;
  y: -150;
  width: 2;
  /* fill: #FFFF00; */
  fill: white;
}

.scale.fifteen {
  height: 14;
}

.scale.five {
  height: 10;
}

.scale.one {
  height: 6;
}

#numbers text {
  font-size: 16;
  fill: white;
}

.digital text {
  font-size: 20;
  font-weight: bold;
  fill: white;
}

#day line{
  fill: white;
}

#day text{
  fill: white;
  font-size: 18;
}

#month line{
  fill: white;
}

#month text{
  fill: white;
  font-size: 18;